<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.shoppersstop">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application

        android:icon="@mipmap/ss_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ss_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnterList"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".PendingOrderActivity"
            android:label="Pending orders"
            android:theme="@style/AppTheme" />
        <activity android:name=".MyAccount" />
        <activity
            android:name=".ListRecyclerView"
            android:parentActivityName=".EnterList"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ShopsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ShopsCategoryActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfileActivity"
            android:label="profile activity"
            android:theme="@style/AppTheme" />

        <provider
            android:name=".database.ProductContentProvider"
            android:authorities="com.example.hp.shoppersstop"
            android:exported="false" />

        <activity android:name=".FavouriteListActivity" />
        <activity android:name=".SendSelectedList"
                    android:parentActivityName=".ListRecyclerView"
                    android:theme="@style/AppTheme"/>

        <activity android:name=".EditProfile" />
    </application>

</manifest>